.navibar{
  width: 100%;
  position: fixed;
  background-color: #29335C;
  top: 0;
  padding-top: 10px;
  z-index: 1;

  .space{

    flex: 1 1 auto;

  }


  ul{

    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0px 30px;

  }

  .nav-menu{
    display: flex;
    justify-content: center;

    @media (max-width: 700px) {

      display: none;

      &.open{
        display: block;
        position: absolute;
        width: 100%;
        top: 50px;
        right: 0;
        background-color: #29335C;
        .navi-item{
          margin-left: 20px;
          margin-top: 10px;
          height: 40px;
        }

      }
    }
  }

  .nav-title{
    font-size: 1.3rem;
    color: white;
  }

  .navi-item{
    display: block;
    text-decoration: none;
    padding: 0 10px;
    color: white;
  }

  .nav-but{
    display: none;

    @media (max-width: 700px) {
      display: block;
      background-color: #29335C;
      color: white;
      border: 0;
    }
    }


}

